<div class="container">
    <div class="card border-success">
        <div class="card-header mb-4 bg-success">
            <h5>Saisonbestleistungen {{seasonYear}}</h5>

            <div ngbDropdown>
                <p ngbDropdownToggle role="button"  id="dropdownBasic" >Weitere Jahre</p>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let year of seasonYears ">
                        <button ngbDropdownItem (click)="onDropDownSelect(year)">{{year}}</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">
        </div>
    </div>
</div>